html, body {
    height: 100%;
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Poppins', sans-serif!important;
  }

  body{
    background: url("./assets/nathan-thomassin-PTLof___Ig4-unsplash-min.jpg") no-repeat center center fixed;
    background-size: cover;
    /* background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%); */
    /* filter: brightness(40%); */
  }

  .row{
    margin: 0!important;
  }
