.result--card{
    background-color: white;
    text-align: center;
    min-height: 350px;
    width: 450px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
}